@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --primaryColor: #FEA026;
    --primaryTextColor: #ffffff;
    --secondaryColor: #114F44;
    --thirdColor: #FFDD4F;
    --radius: 0.5rem;
  }
}
