@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  background-color: #f9fafb;
}

@layer base {
  :root {
    --primaryColor: #fea026;
    --primaryTextColor: #ffffff;
    --secondaryColor: #114f44;
    --thirdColor: #ffdd4f;
    --radius: 0.5rem;
  }
}
